.statistics {
    max-width: 1340px;
    margin-top: 40px;
}

.statisticsHeader {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(90deg, #FFA732 0%, rgba(34, 74, 40, 0) 0.01%, #224A28 49.9%, rgba(34, 74, 40, 0) 100%);
    border-image-slice: 1;
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 20px;
}

.statisticsHeader span {
    font-weight: 600;
}

.statisticsAmount {
    margin-bottom: 60px;
    display: flex;
    padding: 20px 80px;
    border-radius: 12px;
    box-shadow: 0px 12px 12px 0px #2222221F;
    justify-content: space-between;
    align-items: center;
}

.statisticsAmountText {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #8C8C8C;
    max-width: 140px;
}

.statisticsAmountNum {
    font-size: 60px;
    font-weight: 600;
    line-height: 74px;
    color: #224A28;
}

.statisticsItems {
    gap: 10px;
    padding: 40px;
    background: #224A28;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.item {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 255px;
}

.statisticsImg {
    background: #A6FF42;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.statisticsText p:nth-child(1) {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #8C8C8C;
}

.statisticsText p:nth-child(2) {
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    color: #FAFAFA;
}

.action {
    padding: 40px;
    border-radius: 4px;
    margin-bottom: 64px;
}

.actionHeader {
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    text-align: center;
    color: #222222;
    margin-bottom: 40px;
}

.actionButtons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.actionButtons button {
    cursor: pointer;
}

.topUp,
.withdraw,
.refinancing,
.closeDeposit {
    padding: 20px;
    border-radius: 12px;
    border: none;
    width: 100%;
    align-items: center;
    display: flex;
    gap: 12px;
    justify-content: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}

.closeDeposit img {
    width: 10px;
    height: 10px;
}

.topUp {
    background: #00B83F;

}

.withdraw {
    background: #222222;

}

.refinancing {
    background: #224A28;
}

.closeDeposit {
    background: transparent;
    border: 1px solid #000000;
    color: #000000;
}

.statisticsInfo {
    background: #FCFFF2;
    border-radius: 12px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.statisticsInfoItem {
    width: 15.625vw;
}

.statisticsInfoItem p:nth-child(1) {
    color: #8C8C8C;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 4px;
}

.statisticsInfoItem p:nth-child(2) {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #222222;
}



@media (max-width:1600px) {

    .item {
        width: auto;
        gap: 15px;
    }
}

@media (max-width:1400px) {

    .statisticsInfoItem {
        width: auto;
    }
}

@media (max-width: 1024px) {
    .statisticsItems {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        justify-items: center;
    }

    .statisticsArrow {
        display: none;
    }

    .statisticsInfo {
        margin-bottom: 15px;
    }
}

@media (max-width: 700px) {
    .statisticsItems {
        padding: 20px;
    }

    .statisticsAmount {
        padding: 20px 40px;
    }

    .statisticsAmountNum {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 600px) {
    .action {
        padding: 20px 5px;
    }

    .actionButtons {
        gap: 7px;
    }

    .withdraw,
    .refinancing,
    .closeDeposit,
    .topUp {
        padding: 20px 10px;
        white-space: nowrap;
        font-size: 18px;
    }
}

@media (max-width: 500px) {
    .actionButtons {
        grid-template-columns: repeat(1, 1fr);
    }

    .statisticsImg {
        width: 40px;
        height: 40px;
    }

    .statisticsImg img {
        width: 30px;
        height: 30px;
    }

    .statisticsInfo {
        padding: 20px;
        gap: 10px;
    }

    .statisticsAmountNum{
        font-size: 34px;
        line-height: 40px;
    }
}