.inputWrapper {
    background: #E8ECD8;
    padding: 20px 40px;
    border-radius: 1000px;
    height: 64px;
    display: flex;
    align-items: center;
    gap: 4px;
}


.inputWrapper input {
    width: 100%;
    color: #222222;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    background: transparent;
    border: none;
}

.inputWrapper span {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pointer {
    cursor: pointer;
}

@media (max-width: 600px) {
    .inputWrapper{
        padding: 20px 20px;
    }
}