.login {
    background: #F3F5EB;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password__input {
    position: relative;
}

.password__input img {
    position: absolute;
    top: 23.5px;
    right: 42px;
    cursor: pointer;
}