.deposit {
    background: #FCFFF2;
    border-radius: 4px;
    padding: 40px;
    margin-top: 40px;
}

.depositHeader{
    margin-bottom: 40px;
    color: #222222;
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
   text-align: center;
}