.settingsInfoItem {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 20px 40px;

}

.settingsInfoItemHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: #222222;
    cursor: pointer;

}

.settingsInfoItemArrow img {
    width: 10px;
}