.createChatHeader {
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    color: #222222;
    text-align: center;
    margin-bottom: 40px;
}

.appDetails {
    padding: 20px 40px;
    border-radius: 4px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.appSubject,
.appDesc {
    background: #E8ECD8;
    padding: 12px 40px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.appSubjectInput,
.appDescInput {
    background: transparent;
    border: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #222222;
}

.appSubjectHeader,
.appDescHeader {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #8C8C8C;
}

.appDescInput {
    height: 158px;
    resize: none;
}

.appSubjectButton button {
    width: 100%;
    border: none;
    padding: 20px 40px;
    border-radius: 12px;
    background: #00B83F;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: #FFFFFF;
    cursor: pointer;
}