.app {
    display: flex;
    gap: 24px;

}

.appContent {
    /* padding: 40px 0 0 0 ; */
    padding-right: 40px;
    width: 100%;
    box-sizing: border-box;
    background: #FAFAFA;
}

@media (max-width: 1280px) {
    .appContent{
        padding-left: 50px;
    }
}

@media (max-width: 600px) {
    .appContent{
        padding-right: 10px;
        padding-left: 35px;
    }
    
}