.academy {
    max-width: 1340px;
    margin-top: 40px;
    height: 1264px;
}


.knoweledge {
    background: #FCFFF2;
    border-radius: 4px;
    padding: 40px;

}

.header {
    font-size: 32px;
    font-weight: 600;
    line-height: 39px;
    text-align: center;
    margin-bottom: 40px;

}

.knoweledgeItems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


@media (max-width: 1400px) {
    .knoweledgeItems {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media (max-width: 1024px) {
    .knoweledge{
        padding: 15px 10px;
    }
}

@media (max-width: 800px) {
    .knoweledgeItems{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 540px) {
    .knoweledgeItems{
        grid-template-columns: repeat(1, 1fr);
    }
}